<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionstrings>
    <add providername="System.Data.SqlClient" name="conexionBD" connectionstring="Data Source=.;Initial Catalog=AdventureWorks2012;Integrated Security=True">
  </add></connectionstrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
